<h1>Struggling Students</h1>

<div class="struggling">
  <ul>
    <% @students.each do |student| %>
    <li>
      <%= student.first_name %> <%= student.last_name %> :
      <%= student.teacher.first_name %> <%= student.teacher.last_name %>
    </li>
    <% end %>
  </ul>
</div>
